$responsive-container-bg: #888; 
$navbar-bg: #333;
$dark-color: #111;
$resizer-width: 8px;
$green-bg: #00b200;
$turquoise-bg: #40e0d0;

@mixin border-radius($radius, $args) {
  #{$args}-radius: $radius;
  -webkit-#{$args}-radius: $radius;
  -moz-#{$args}-radius: $radius;
  -ms-#{$args}-radius: $radius;
}

@mixin directional-border-radius ($top-left, $bottom-left, $top-right, $bottom-right){
  @include border-radius($top-left, border-top-left);
  @include border-radius($bottom-left, border-bottom-left);
  @include border-radius($top-right, border-top-right);
  @include border-radius($bottom-right, border-bottom-right);
}

@mixin waveCommon($wrapper) {
  @if($wrapper) {
    width: 55%;
    overflow: hidden;  
  } @else {
    position: relative;
    width:108.75%;
    height: 100px;  
  }
}

$directions: left, right, top, bottom;

@each $direction in $directions {
  .#{$direction}-resizer {
    background-color: $responsive-container-bg;
    @if ($direction == left) or ($direction == right) {
      width: $resizer-width;
      @if($direction == right) {
        background-color: $green-bg;
        cursor: pointer;
      }
    } @else {
      width: 100%;
      height: $resizer-width;
      @if($direction == top) {
        @include directional-border-radius(10px, 0px, 10px, 0px);
      } @else {
        @include directional-border-radius(0px, 10px, 0px, 10px);
      }  
    }  
  }
}