@import '../refs/refs.scss';

.responsive-belzier-curve {
  flex-direction: row;
  .belzier-curve-container {
    display: flex;
    border: 1px solid blue;
    margin-left: 10px;
    #belzier-curve {
      position: relative;
      background-color: turquoise;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  
  .belzier-resizer{
    border: 1px solid red;
    float: right;
  }
}