@import '../refs/refs.scss';

.responsive-belzier-curve {
  display: flex;
  background-color: $navbar-bg;
  .belzier-curve-container {
    display: flex;
    position: relative;
    flex: 1;
    height: 100%;
    width: 100%;  
    #belzier-curve {
      position: relative;
      fill: turquoise;
      text-align: center;
    }
  }
}