$responsive-container-bg: #888; 
$navbar-bg: #333;
$dark-color: #111;
$resizer-width: 8px;
$green-bg: #00b200;
$turquoise-bg: #40e0d0;

@mixin border-radius($radius, $args) {
  #{$args}-radius: $radius;
  -webkit-#{$args}-radius: $radius;
  -moz-#{$args}-radius: $radius;
  -ms-#{$args}-radius: $radius;
}

@mixin directional-border-radius ($top-left, $bottom-left, $top-right, $bottom-right){
  @include border-radius($top-left, border-top-left);
  @include border-radius($bottom-left, border-bottom-left);
  @include border-radius($top-right, border-top-right);
  @include border-radius($bottom-right, border-bottom-right);
}

.navbar {
  margin: 2px;
  overflow: hidden;
  background-color: $navbar-bg;
  @include border-radius(10px, border);
  a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
  }
  #text-container {
    float: left;
  }
  .menu {
    float: right;
    a:hover {
      background-color: #111;
    }
  }
}

#ette {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.responsive-container {
  width: 50%;
}

.responsive-navbar {
  display: flex;
  background-color: $responsive-container-bg;
  a {
    position: relative;
    background-color: $navbar-bg;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1;
    &:hover {
      opacity: 0.7;
    }
  }
}

$directions: left, right, top, bottom;

@each $direction in $directions {
  .#{$direction}-resizer {
    background-color: $responsive-container-bg;
    @if ($direction == left) or ($direction == right) {
      width: $resizer-width;
      @if($direction == right) {
        background-color: $green-bg;
        cursor: pointer;
      }
    } @else {
      width: 100%;
      height: $resizer-width;
      @if($direction == top) {
        @include directional-border-radius(10px, 0px, 10px, 0px);
      } @else {
        @include directional-border-radius(0px, 10px, 0px, 10px);
      }  
    }  
  }
}

.responsive-curve {
  display: flex;
  background-color: $responsive-container-bg;
  .curve-container {
    position: relative;
    background-color: $navbar-bg;
    color: white;
    text-align: center;
    flex: 1;
    overflow: hidden;
  }
}

#curve {
  width:100%;
  height: 180px;
  background-color: $turquoise-bg;
  @include directional-border-radius(0px, 100%, 0px, 100%);
  margin-top:-100px;
}

.responsive-waves {
  display: flex;
  background-color: $responsive-container-bg;
  .waves-container {
    position: relative;
    background-color: $turquoise-bg;
    color: white;
    text-align: center;
    flex: 1;
    overflow: hidden;
    justify-content: space-between;
  }
}

#wave1-wrapper {
  width: 55%;
  height: 100px;
  float: left;
  overflow: hidden;
  margin-top: 27px;
  margin-left: -5%;
}

#wave2-wrapper {
  width: 55%;
  height: 155px;
  float: right;
  background-color: $navbar-bg;
  overflow: hidden;
  margin-top: -28px;
  margin-right: -5%;
}

#wave1 {
  position: relative;
  width:107.5%;
  height: 100px;
  background-color: $navbar-bg;
  @include directional-border-radius(60%, 0px, 60%, 0px);
  float: left;
}

#wave2 {
  position: relative;
  width:110%;
  float: right;
  height: 100px;
  background-color: $turquoise-bg;
  @include directional-border-radius(0px, 60%, 0px, 60%);
}
