$responsive-container-bg: #888; 
$navbar-bg: #333;
$dark-color: #111;
$resizer-width: 4px;

@mixin border-radius($radius, $args) {
  #{$args}-radius: $radius;
  -webkit-#{$args}-radius: $radius;
  -moz-#{$args}-radius: $radius;
  -ms-#{$args}-radius: $radius;
}

.navbar {
  margin: 2px;
  overflow: hidden;
  background-color: $navbar-bg;
  @include border-radius(10px, border);
  a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
  }
  #text-container {
    float: left;
  }
  .menu {
    float: right;
    a:hover {
      background-color: #111;
    }
  }
}

#ette {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.responsive-container {
  width: 50%;
}

.responsive-component {
  background-color: $responsive-container-bg;
}

#responsive-navbar {
  display: flex;
  a {
    background-color: $navbar-bg;
    color: white;
    text-align: center;
    padding: 10px 16px;
    flex: 1;
    &:hover {
      opacity: 0.7;
    }
  }
}

$directions: left, right, top, bottom;

@each $direction in $directions {
  .#{$direction}-resizer {
    @if ($direction == left) or ($direction == right) {
      width: $resizer-width;
      background-color: $responsive-container-bg;
    } @else {
      width: 100%;
      height: $resizer-width;
      background-color: $responsive-container-bg;
    }  
  }
}